.task-container {
    width: calc(100% - 400px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
}

.task-strip-title-container {
    width: 300px;
}