#menu {
    width: 300px;
    padding: 25px;
    background-color: var(--Color1Light);
    position:fixed;
    top: 0px;
    right:0px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    z-index: 1;
    border-radius: 25px 0 0 25px;
    -webkit-box-shadow: 0px 5px 10px 0px var(--Black);
    box-shadow: 0px 5px 10px 0px var(--Black);
    -webkit-transition:250ms ease-in-out; 
    transition: 250ms ease-in-out;
}

.hidden-menu {
    transform: translate(100%,0);
}

.visible-menu {
    transform: translate(0,0);
}

#close-menu-container {
    margin-bottom: 25px;
}

.menu-item {
    margin-bottom: 10px;
}

#close-menu-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    background: none;
    border: 1px solid var(--Color2Light);
    border-radius: 10px 0px 0px 0px;
    color: var(--Color2Light);
}

#close-menu-button:hover {
    border: 1px solid var(--Color5Light);
    color: var(--Color5Light); 
}

.menu-heading {
    margin: 10px 0;
}

.menu-link {
    padding: 10px;
}