.column {
    padding: 25px;
    width: 400px;
    flex: none;
    border-left: 1px solid var(--Color1);
    border-right: 1px solid var(--Color1);
    height: 100%;
    overflow-y: auto;
}

#category-container {
    overflow-x: auto;
    width: calc(100% - 800px);
    display: flex;
}