.task-item {
    width: 100%;
    color: white;
    background-color: var(--NavyBlue);
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0;
    transition: 1s ease-in-out;
}
.task-row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-item-icon {
    margin-left: 10px;
}

.task-item-icon:hover {
    cursor: pointer;
}

.task-description-container {
    margin-top: 25px
}