* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea, label {
    font-family: Arial, Helvetica, sans-serif;
}

p, input, textarea, a, label  {
    font-size: 1rem;    
}

label {
    color: var(--Color3);
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

h1, h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;  
}

a {
    color: var(--Color5);
    text-decoration: none;
}

:root {
    --Color1: #ffffff;
    --Color2: #69009e;
    --Color3: #9E0091;
    --Color4: #2b043e;
    --Color5: #ff00b1;

    /* Dark mode */
/* 
    --Color1: #2a1c5a;
    --Color2: #ffffff;
    --Color3: #ffa1f7;
    --Color4: #2b043e;
    --Color5: #ff00b1; */
}



.App {
    background: linear-gradient(125deg, rgb(194 165 188) 0%, rgba(193,233,241,1) 100%);
    position: relative;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, rgb(255 0 194) 0%, #8500ff 100%);
    border-radius: 10px;
}

.clickable {
    cursor: pointer;
}
