* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, a, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-weight: 100;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

a {
    color: var(--Color5);
    text-decoration: none;
}

:root {
    --Color1: #ffffff;
    --Color2: #69009e;
    --Color3: #9E0091;
    --Color4: #2b043e;
    --Color5: #ff00b1;
}

.App {
    background: linear-gradient(125deg, rgb(194 165 188) 0%, rgba(193,233,241,1) 100%)
}