#header {
    height: 40px;
    width: 100%;
    padding: 0px 20px;
    background-color: var(--Color1);
    display: flex;
    justify-content: space-between;
    color: var(--Color2);
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-text {
    font-weight: 100;
    letter-spacing: 5px;
    margin-left: 10px;
    text-transform: uppercase;
}

.spacing-right {
    margin-right: 50px;
}

#login-register-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-menu-text {
    margin-left:5px;
}