#header {
    width: 100%;
    background-color: var(--Flirt);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    color: rgb(51, 248, 255)
}

#logo-text {
    font-weight: 900;
    letter-spacing: 5px;
    margin-left: 10px;
}