#main {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
}

.adding-column {
    width: 16.666%;
    height: 100%;
    background-color: rgb(255, 252, 224);
}

.category-column {
    width: 16.666%;
    height: 100%;
}

.completed-column {
    width: 16.666%;
    height: 100%;
    background-color: var(--RussianViolet);
}

.pending-column {
    background-color: var(--TumbleWeed);
}

.column-1 {
    background-color: var(--SizzlingRed);
}

.column-2 {
    background-color: var(--ParadisePink);
}

.column-3 {
    background-color: var(--Flirt);
}

.column {
    padding: 25px;
}

.adding-column-split {
    height: 50%;
}