.task-item {
    width: 100%;
    max-width: 500px;
    background-color: var(--Color1);
    padding: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 10px 0px var(--Black);
    box-shadow: 0px 5px 10px 0px var(--Black);
}

.task-item:hover {
    cursor: grab;
}

.task-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-title-description-container {
    margin-top: 20px;
}
.move-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.task-title {
    color: var(--Color2);
}

.icon-button {
    border: none;
    background: none;
    color: var(--Color2);
}

.task-description {
    color: var(--Color3);
}

.icon-margin-right {
    margin-right: 10px
}

.task-hidden-contents-container {
    margin-top: 10px;
}