.task-item {
    width: 100%;
    color: var(--Color3);
    background-color: var(--Color1);
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0;
    transition: 3s ease-in-out;
}

.task-item:hover {
    cursor: grab;
}
.task-row-edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-title-description-container {
    margin: 20px 0;
}
.move-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.task-title {
    margin-bottom: 20px;
}

.icon-button {
    border: none;
    background: none;
    color: var(--Color3);
}

.icon-button:hover {
    cursor: pointer;
}