input {
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid var(--Color3);
    color: var(--Color2)
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--Color3);
    opacity: .8; /* Firefox */
}

textarea:focus, input:focus, select:focus{
    outline-color: var(--Color5);
    outline-style: solid;
    outline-width: thin;
}

textarea {
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    resize: none;
    border-radius: 5px;
    height: 200px;
    border: 1px solid var(--Color3);
    color: var(--Color2)
}

button.task {
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
}

form {
    background-color: var(--Color1);
    border-radius: 25px;
}

.form-message {
    color: var(--Color5);
    margin: 10px 0;
}

.form-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--Color2);
    margin-bottom: 25px;
    font-size: 1.5em;
}

#category-form {
    width: 100%;
}

.form-submit {
    margin-top: 25px;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    background: none;
    border: 1px solid var(--Color3);
    border-radius: 0px 0px 10px 10px;
    color: var(--Color3);
    transition: 250ms;
}

.form-submit:hover {
    cursor: pointer;
    border: 1px solid var(--Color5);
    color: var(--Color5);
}

.padded {
    padding: 25px;
    -webkit-box-shadow: 0px 5px 10px 0px var(--Color4);
    box-shadow: 0px 5px 10px 0px var(--Color4);
}

select#select-category {
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--Color3);
    border-radius: 5px;
    padding: 5px;
    color:var(--Color3);
}
